<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pjGestionEmpleados.Properties.Settings.cn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=bd_gestion_empleados;User ID=angel_sanchez;Password=Sql9920##"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>