USE master
GO

IF DB_ID('bd_gestion_empleados') IS NOT NULL
DROP DATABASE bd_gestion_empleados
GO

CREATE DATABASE bd_gestion_empleados
GO

USE bd_gestion_empleados
GO

/* =========================
TABLA CARGOS
=========================*/

CREATE TABLE tb_cargos(
	id_cargo INT IDENTITY(1,1) PRIMARY KEY,
	nombre_cargo VARCHAR(255),
	activo_cargo BIT
)
GO

/* =========================
TABLA DEPARTAMENTOS
=========================*/

CREATE TABLE tb_departamentos(
	id_departamento INT IDENTITY(1,1) PRIMARY KEY,
	nombre_departamento VARCHAR(255),
	activo_departamento BIT
)
GO

/* =========================
TABLA EMPLEADOS
=========================*/

CREATE TABLE tb_empleados(
	id_empleado INT IDENTITY(1,1) PRIMARY KEY,
	nombre_empleado VARCHAR(100),
	direccion_empleado VARCHAR(150),
	fecha_nacimiento_empleado DATE,
	telefono_empleado VARCHAR(80),
	salario_empleado MONEY,
	id_departamento INT,
	id_cargo INT,
	activo_empleado BIT,

	CONSTRAINT FK_tb_empleados_departamento
	FOREIGN KEY (id_departamento)
	REFERENCES tb_departamentos(id_departamento),

	CONSTRAINT FK_tb_empleados_cargo
	FOREIGN KEY (id_cargo)
	REFERENCES tb_cargos(id_cargo)
)
GO

/* =========================
SP GUARDAR EMPLEADOS
=========================*/

CREATE PROC SP_GUARDAR_EMPLEADOS
@cNombre VARCHAR(100),
@cDireccion VARCHAR(150),
@dFechaNacimiento DATE,
@cTelefono VARCHAR(80),
@nSalario MONEY,
@nIdDepartamento INT,
@cIdCargo INT
AS
BEGIN

INSERT INTO tb_empleados
(
	nombre_empleado,
	direccion_empleado,
	fecha_nacimiento_empleado,
	telefono_empleado,
	salario_empleado,
	id_departamento,
	id_cargo,
	activo_empleado
)
VALUES
(
	@cNombre,
	@cDireccion,
	@dFechaNacimiento,
	@cTelefono,
	@nSalario,
	@nIdDepartamento,
	@cIdCargo,
	1
)

END
GO

/* =========================
SP ACTUALIZAR EMPLEADOS
=========================*/

CREATE PROC SP_ACTUALIZAR_EMPLEADOS
@nIdEmpleado INT,
@cNombre VARCHAR(100),
@cDireccion VARCHAR(150),
@dFechaNacimiento DATE,
@cTelefono VARCHAR(80),
@nSalario MONEY,
@nIdDepartamento INT,
@cIdCargo INT
AS
BEGIN

UPDATE tb_empleados
SET
	nombre_empleado = @cNombre,
	direccion_empleado = @cDireccion,
	fecha_nacimiento_empleado = @dFechaNacimiento,
	telefono_empleado = @cTelefono,
	salario_empleado = @nSalario,
	id_departamento = @nIdDepartamento,
	id_cargo = @cIdCargo
WHERE id_empleado = @nIdEmpleado

END
GO

/* =========================
SP DESACTIVAR EMPLEADO
=========================*/

CREATE PROC SP_DESACTIVAR_EMPLEADO
@nIdEmpleado INT
AS
BEGIN

UPDATE tb_empleados
SET activo_empleado = 0
WHERE id_empleado = @nIdEmpleado

END
GO

/* =========================
SP LISTAR CARGOS
=========================*/

CREATE PROC SP_LISTAR_CARGOS
AS
BEGIN

SELECT id_cargo, nombre_cargo
FROM tb_cargos
WHERE activo_cargo = 1

END
GO

/* =========================
SP LISTAR DEPARTAMENTOS
=========================*/

CREATE PROC SP_LISTAR_DEPARTAMENTOS
AS
BEGIN

SELECT id_departamento, nombre_departamento
FROM tb_departamentos
WHERE activo_departamento = 1

END
GO

/* =========================
SP LISTAR EMPLEADOS
=========================*/

CREATE PROC SP_LISTAR_EMPLEADOS
@cBusqueda VARCHAR(100) = ''
AS
BEGIN

SELECT
	e.id_empleado AS ID,
	e.nombre_empleado AS Nombre,
	d.nombre_departamento AS Departamento,
	c.nombre_cargo AS Cargo,
	e.salario_empleado AS Salario,
	e.direccion_empleado AS Direccion,
	e.telefono_empleado AS Telefono,
	e.fecha_nacimiento_empleado AS FechaNacimiento

FROM tb_empleados e
INNER JOIN tb_departamentos d
	ON e.id_departamento = d.id_departamento
INNER JOIN tb_cargos c
	ON e.id_cargo = c.id_cargo

WHERE
e.activo_empleado = 1
AND
UPPER(e.nombre_empleado) +
UPPER(d.nombre_departamento) +
UPPER(c.nombre_cargo)
LIKE '%' + UPPER(@cBusqueda) + '%'

END
GO