USE [master]
GO
/****** Object:  Database [bd_gestion_empleados]    Script Date: 26/08/2025 13:41:19 ******/
CREATE DATABASE [bd_gestion_empleados]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_gestion_empleados', FILENAME = N'C:\Users\aj.sanchez\bd_gestion_empleados.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_gestion_empleados_log', FILENAME = N'C:\Users\aj.sanchez\bd_gestion_empleados_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_gestion_empleados].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_gestion_empleados]
GO
/****** Object:  Table [dbo].[tb_cargos]    Script Date: 26/08/2025 13:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_cargos](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cargo] [varchar](255) NULL,
	[activo_cargo] [bit] NULL,
 CONSTRAINT [PK_tb_cargos] PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_departamentos]    Script Date: 26/08/2025 13:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_departamentos](
	[id_departamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_departamento] [varchar](255) NULL,
	[activo_departamento] [bit] NULL,
 CONSTRAINT [PK_tb_departamentos] PRIMARY KEY CLUSTERED 
(
	[id_departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_empleados]    Script Date: 26/08/2025 13:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre_empleado] [varchar](100) NULL,
	[direccion_empleado] [varchar](150) NULL,
	[fecha_nacimiento_empleado] [date] NULL,
	[telefono_empleado] [varchar](80) NULL,
	[salario_empleado] [money] NULL,
	[id_departamento] [int] NULL,
	[id_cargo] [int] NULL,
	[activo_empleado] [bit] NULL,
 CONSTRAINT [PK_tb_empleados] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_empleados]  WITH CHECK ADD  CONSTRAINT [FK_tb_empleados_tb_cargos] FOREIGN KEY([id_cargo])
REFERENCES [dbo].[tb_cargos] ([id_cargo])
GO
ALTER TABLE [dbo].[tb_empleados] CHECK CONSTRAINT [FK_tb_empleados_tb_cargos]
GO
ALTER TABLE [dbo].[tb_empleados]  WITH CHECK ADD  CONSTRAINT [FK_tb_empleados_tb_departamentos] FOREIGN KEY([id_departamento])
REFERENCES [dbo].[tb_departamentos] ([id_departamento])
GO
ALTER TABLE [dbo].[tb_empleados] CHECK CONSTRAINT [FK_tb_empleados_tb_departamentos]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_EMPLEADOS]    Script Date: 26/08/2025 13:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ACTUALIZAR_EMPLEADOS]
@nIdEmpleado int,
@cNombre Varchar(100),
@cDireccion Varchar(150),
@dFechaNacimiento date,
@cTelefono Varchar(80),
@nSalario money,
@nIdDepartamento int,
@cIdCargo int
AS
	UPDATE tb_empleados SET nombre_empleado = @cNombre,
							direccion_empleado = @cDireccion,
							fecha_nacimiento_empleado = @dFechaNacimiento,
							telefono_empleado = @cTelefono,
							salario_empleado = @nSalario,
							id_departamento = @nIdDepartamento,
							id_cargo = @cIdCargo
	WHERE id_empleado = @nIdEmpleado

GO
/****** Object:  StoredProcedure [dbo].[SP_DESACTIVAR_EMPLEADO]    Script Date: 26/08/2025 13:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DESACTIVAR_EMPLEADO]
@nIdEmpleado int
AS
	UPDATE tb_empleados SET activo_empleado = 0
	WHERE id_empleado = @nIdEmpleado
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_EMPLEADOS]    Script Date: 26/08/2025 13:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GUARDAR_EMPLEADOS]
@cNombre Varchar(100),
@cDireccion Varchar(150),
@dFechaNacimiento date,
@cTelefono Varchar(80),
@nSalario money,
@nIdDepartamento int,
@cIdCargo int
AS
	INSERT INTO tb_empleados
	(
	nombre_empleado,
	direccion_empleado,
	fecha_nacimiento_empleado,
	telefono_empleado,
	salario_empleado,
	id_departamento,
	id_cargo,
	activo_empleado
	)
	VALUES (
	@cNombre,
	@cDireccion,
	@dFechaNacimiento,
	@cTelefono,
	@nSalario,
	@nIdDepartamento,
	@cIdCargo,
	1
	)
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_CARGOS]    Script Date: 26/08/2025 13:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_CARGOS]
AS
	SELECT id_cargo, nombre_cargo from tb_cargos
	where activo_cargo = 1;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DEPARTAMENTOS]    Script Date: 26/08/2025 13:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_DEPARTAMENTOS]
AS
	SELECT id_departamento, nombre_departamento from tb_departamentos
	where activo_departamento = 1;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_EMPLEADOS]    Script Date: 26/08/2025 13:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTAR_EMPLEADOS]
@cBusqueda varchar(100) = ''
AS
SELECT	
		id_empleado as [ID],
		nombre_empleado as [Nombre],
		d.nombre_departamento as [Departamento],
		c.nombre_cargo as [Cargo],
		e.salario_empleado as [Salario],
		e.direccion_empleado as [Direccción],
		e.telefono_empleado as [Teléfono],
		e.fecha_nacimiento_empleado as [Fecha de Nacimiento]
		

FROM tb_empleados e 
inner join tb_departamentos d on e.id_departamento = d.id_departamento
inner join tb_cargos c on e.id_cargo = c.id_cargo
where e.activo_empleado = 1 and 
UPPER(e.nombre_empleado) +
UPPER(d.nombre_departamento) +
UPPER(c.nombre_cargo)
like '%'+upper(@cBusqueda)+'%'
GO
USE [master]
GO
