USE [bd_gestion_empleados]
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_EMPLEADOS]    Script Date: 20/08/2025 15:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_ACTUALIZAR_EMPLEADOS]
@nIdEmpleado int,
@cNombre Varchar(100),
@cDireccion Varchar(150),
@dFechaNacimiento date,
@cTelefono Varchar(80),
@nSalario money,
@nIdDepartamento int,
@cIdCargo int
AS
	UPDATE tb_empleados SET nombre_empleado = @cNombre,
							direccion_empleado = @cDireccion,
							fecha_nacimiento_empleado = @dFechaNacimiento,
							telefono_empleado = @cTelefono,
							salario_empleado = @nSalario,
							id_departamento = @nIdDepartamento,
							id_cargo = @cIdCargo
	WHERE id_empleado = @nIdEmpleado

