USE [bd_gestion_empleados]
GO
/****** Object:  StoredProcedure [dbo].[SP_DESACTIVAR_EMPLEADO]    Script Date: 20/08/2025 15:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_DESACTIVAR_EMPLEADO]
@nIdEmpleado int
AS
	UPDATE tb_empleados SET activo_empleado = 0
	WHERE id_empleado = @nIdEmpleado
