USE [bd_gestion_empleados]
GO
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_EMPLEADOS]    Script Date: 20/08/2025 15:52:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_GUARDAR_EMPLEADOS]
@cNombre Varchar(100),
@cDireccion Varchar(150),
@dFechaNacimiento date,
@cTelefono Varchar(80),
@nSalario money,
@nIdDepartamento int,
@cIdCargo int
AS
	INSERT INTO tb_empleados
	(
	nombre_empleado,
	direccion_empleado,
	fecha_nacimiento_empleado,
	telefono_empleado,
	salario_empleado,
	id_departamento,
	id_cargo,
	activo_empleado
	)
	VALUES (
	@cNombre,
	@cDireccion,
	@dFechaNacimiento,
	@cTelefono,
	@nSalario,
	@nIdDepartamento,
	@cIdCargo,
	1
	)
