USE [bd_gestion_empleados]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_CARGOS]    Script Date: 20/08/2025 15:53:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_LISTAR_CARGOS]
AS
	SELECT id_cargo, nombre_cargo from tb_cargos
	where activo_cargo = 1;
