USE [bd_gestion_empleados]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_DEPARTAMENTOS]    Script Date: 20/08/2025 15:53:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_LISTAR_DEPARTAMENTOS]
AS
	SELECT id_departamento, nombre_departamento from tb_departamentos
	where activo_departamento = 1;
