USE [bd_gestion_empleados]
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_EMPLEADOS]    Script Date: 20/08/2025 15:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_LISTAR_EMPLEADOS]
@cBusqueda varchar(100) = ''
AS
SELECT	id_empleado as [ID],
		nombre_empleado as [Nombre],
		d.nombre_departamento as [Departamento],
		c.nombre_cargo as [Cargo],
		e.salario_empleado as [Salario],
		e.direccion_empleado as [Direccción],
		e.telefono_empleado as [Teléfono],
		e.fecha_nacimiento_empleado as [Fecha de Nacimiento]
		

FROM tb_empleados e 
inner join tb_departamentos d on e.id_departamento = d.id_departamento
inner join tb_cargos c on e.id_cargo = c.id_cargo
where e.activo_empleado = 1 and 
UPPER(e.nombre_empleado) +
UPPER(d.nombre_departamento) +
UPPER(c.nombre_cargo)
like '%'+upper(@cBusqueda)+'%'